@model IEnumerable<DogKennel_Project.Models.Breed>

@{
    ViewData["Title"] = "Index";
}
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">

                <div class="col-lg-8 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h1>Index</h1>

                        <p>
                            <a asp-action="Create">Create New</a>
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Breed_Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Age_Years)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DogGroup)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ActivityLevel)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Size)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Breed_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Age_Years)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DogGroup.Group_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActivityLevel.Activity_Level)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Size.Size_Name)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="~/assets/img/Dog-Breeds.png" class="img-fluid" alt="">
                </div>

            </div>
        </div>

    </section><!-- End About Section -->



</main>